.calculator {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #2C2C2C;
        position: relative;
        &-title {
            position: absolute;
            top: -10px;
            left: 20px
        }
        input[type="number"] {
            width: 50%;
        }
    }
    &__middle {
        display: flex;
    }
    &__left {
        width: 60%;
    }
    &__right {
        width: 40%;
        padding-left: 20px;
    }
    &_result {
        &__title {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #D9CB9E;
        }
        &__main {
            border: 1px solid #D9CB9E;
            padding: 20px 30px;
            display: flex;
            flex-wrap: wrap;
            margin: 20px 0;
        }
        &__price {
            width: 50%;
            &-currency {
                margin-right: 20px;              
            }
            &-value {
                color: #D9CB9E;                
            }
            
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        display: flex;
        button {
            margin-right: 10px;
        }
    }
    &_course {
        display: flex;
        div:not(:last-child) {
            margin-right: 20px;
        }
    }
}

@media (max-width: 1000px) {
    .calculator__middle {
        flex-direction: column;
    }
    .calculator__left, 
    .calculator__right {
        width: 100%;
    }
    .calculator__bottom, .calculator__btn {
        flex-direction: column-reverse;
        button, div {
            width: 100%;
        }
    }
}