.calculator {
  min-width: 500px;
  max-width: 500px;
  background: rgb(131, 168, 181);
  background: linear-gradient(
    180deg,
    rgba(131, 168, 181, 1) 0%,
    rgba(255, 255, 255, 1) 25%
  );
  padding: 30px;
  color: #2c2c2c;

  @media (max-width: 1440px) {
    min-width: 400px;
    max-width: 400px;
  }

  @media (max-width: 900px) {
    width: 100%;
    min-width: auto;
    max-width: none;
  }

  @media (max-width: 900px) {
    padding: 30px 40px 20px;
  }

  @media (max-width: 450px) {
    padding: 30px 20px 20px;
  }

  .radio_section {
    padding: 0 10px 10px;

    input:checked + label {
      background: rgba(84, 150, 110, 0.25);
    }
  }

  .title_2 {
    margin-left: 20px;
  }

  label {
    white-space: initial;
  }

  .disabled {
    display: none !important;
  }

  input,
  select,
  option {
    background-color: transparent;
  }

  &__form {
    max-width: 1000px;
    margin: 0 auto;

    @media (max-width: 900px) {
      max-width: 500px;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #2c2c2c;
    position: relative;
    &-title {
      position: absolute;
      top: -20px;
      left: 20px;
    }
    input[type="number"] {
      width: 100%;
      border: none;
      padding: 10px 20px;
    }
  }
  &__middle {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    @media (max-width: 1000px) {
      margin-top: 10px;
    }
  }
  &__left {
    width: 100%;

    .input_section_container {
      flex-direction: column;

      .input_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 15px;

        label {
          min-width: auto;
          max-width: 100%;
        }

        input,
        select {
          width: 100%;
          padding: 8px;
        }
      }
    }
  }

  &__right {
    width: 100%;
  }
  &_result {
    margin-top: 15px;

    &__table-wrapper {
      background: rgb(126, 190, 212);
      background: linear-gradient(
        180deg,
        rgba(126, 190, 212, 0.6) 0%,
        rgba(255, 255, 255, 1) calc(50px + 15%)
      );
      border: 1px solid #2c2c2c;
      border-radius: 10px;
      overflow: auto;
    }

    &__table {
      min-width: 320px;
      width: 100%;

      thead {
        tr {
          background-color: inherit;
          height: 50px;
          border-bottom: 1px solid #2c2c2c !important;
        }
      }

      th,
      td {
        width: 100%;
        max-width: 25%;
        padding: 5px;
        text-align: center;
      }

      &-row {
        height: 40px;
        border-bottom: 1px solid #2c2c2c;
        overflow: auto;

        &:last-child {
          border-bottom: none;
        }

        &-title {
          font-weight: 600;
        }

        td {
        }
      }
    }

    &__title {
      margin-top: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;
      color: #378858;
      font-weight: 600;
    }
    &__main {
      border: 1px solid #378858;
      padding: 10px 30px;
      display: flex;
      flex-wrap: wrap;
      margin: 15px 0;
    }
    &__price {
      min-width: 50%;
      margin-top: 5px;
      &-currency {
        margin-right: 20px;
      }
      &-value {
        color: #378858;

        span {
          font-weight: 600;
        }
      }
    }
  }
  &__bottom,
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button,
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 56px;
      padding: 10px;
    }

    padding: 0 !important;
  }

  &__btn {
    button {
      margin-right: 10px;
    }
  }
  &_course {
    display: flex;
    margin: 10px 0;

    div:not(:last-child) {
      margin-right: 20px;
    }
  }
}
