.modal {
    &__block {
        display: none;
        transition: all .2s;
        padding: 50px 60px;
        width: 100%;
        overflow-y: auto;
        max-height: 100%;
        //height: auto;
        max-width: 500px;
        position: fixed;
        //z-index: 4;
        // opacity: 0;
        top: 50%;
        left: 50%;
        border-radius: 8px;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(2px);

        &.active {
            display: block;
            z-index: 9999;
            //opacity: 1;
        }
       .validation_error {
        bottom: -20px;
        left: 10px;
       }
    }
    &_close {
        // transition: all .2s;
        // color: #0000007a;
        // cursor: pointer;
        // display: flex;
        // width: 20px;
        // height: 20px;
        // position: absolute;
        // top: 20px;
        // right: 20px;

        // &:hover {
        //     color: #73CAC2;
        // }
    }
    &_svg {
        margin-right: 8px;
    }
    &_title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 40px;
        img {
            margin-right: 20px;
        }
    }
    &_form {
        //padding-top: 10px;
        margin-top: 40px;
        //border-top: 1px solid #73CAC2;
    }
   &_forget_btn {
       display: block;
       width: 100%;
       margin: 30px 0;
       cursor: pointer;
       text-align: center;
       text-decoration-line: underline;
   }
   &_btn {
        display: flex;
        button, div {
            width: 50%;
        }
       &__block {
           display: flex;
           align-items: center;
           width: 100%;
           justify-content: space-between;
           .register {
                border: 1px solid;
            }
       }
   }
   &__btn-center {
       display: flex;
       justify-content: center;
   }
   &_new_user {
       text-transform: uppercase;
   }
   .mailing {
       display: flex;
       justify-content: space-between;
       margin-bottom: 30px;
       &_choice {
           display: flex;
           &__item {
               margin-right: 20px;
           }
       }
   }
   &_auth-social {
       margin-top: 30px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       &__title{
           color: #828282;
           font-size: 14px;
       }
       a {
           img {
               margin-right: 5px;
           }
           display: flex;
           align-items: center;
           font-size: 14px;
           color: black;
       }
   }
}



@media (max-width: 480px) {
    .modal_btn__block {
        flex-direction: column;

        .modal_btn {
            width: 100%;
            margin-bottom: 10px;
        }
        .modal_open {
            width: 100%;
        }
    }
    .modal_title {
        justify-content: flex-start;
        padding-right: 30px;
    }
    .modal__block {
        padding: 15px;
    }
    .modal_form {
        padding-top: 0px;
        margin-top: 10px;
    }
}

// .input_section {
//     margin-bottom: 30px;
//     &__title {
//         color: #333333;
//         font-size: 14px;
//         margin: 0 0 5px 25px;
//     }
//     input {
//         width: 100%;
//         border: 1px solid #E0E0E0;
//         border-radius: 8px;
//         box-sizing: border-box;
//         height: 48px;
//         padding: 15px 24px;
//     }
//     textarea {
//         width: 100%;
//         border: 1px solid #F2F2F2;
//         padding: 15px 24px;
//         box-sizing: border-box;
//     }
//    }


.modal_consultation {
    .input_section {
        width: 100%;
        input {
            width: 100%;
        }
    }
}
